 h2 {
   margin-bottom: 50px;
 }

 span {
   padding: 5px;
   flex: 1;
   text-transform: capitalize;
 }
 span:not(:first-child){
   border-left: 1px solid #fdfdfd;
 }
 .delete {
   cursor: pointer;
 }

 .app-container {
   max-width: 500px;
   margin: 100px auto;
   text-align: center;
 }

 .listItems {
   border: 1px solid #f9f9f9;
   border-bottom: none;
 }

 .listItems div {
   display: flex;
   justify-content: space-around;
   border-bottom: 1px solid #f9f9f9
 }
 
 .listItems div  span:not(:first-child){
  border-left: 1px solid #f9f9f9;
}
 .listItems div:last-child {
   border-bottom: none;
 }
 .listItems p{
   margin: 0;
   padding: 20px;
   color: red;
 }
 .table-head {
   background-color: #fdfdfd;
   display: flex;
   justify-content: space-around;
 }

 form {
   display: flex;
 }

 form .form-control,
 form .btn-primary {
   flex: 1;
   border-radius: 0;
 }

 .btn {
   min-width: 150px;
   text-transform: capitalize;
 }

 .form-control {
   border: 1px solid #f9f9f9;
   text-align: left;
   transition: .3s ease;
 }

 .form-control:focus {
   box-shadow: none;
   border: 1px solid #f9f9f9;
 }

 .form-control::-webkit-input-placeholder {
   text-align: center
 }

 .form-control::-moz-placeholder {
   text-align: center
 }

 .form-control:-ms-input-placeholder {
   text-align: center
 }

 .form-control:-moz-placeholder {
   text-align: center;
 }

 .form-control:focus::-webkit-input-placeholder {
   opacity: 0;
 }

 .form-control:focus::-moz-placeholder {
   text-align: center
 }

 .form-control:focus:-ms-input-placeholder {
   text-align: center
 }

 .form-control:focus:-moz-placeholder {
   text-align: center
 }